Repository tiagoporto/reference-repository: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --ignore-unknown --write, tsc --noEmit --skipLibCheck, eslint --ext js,jsx,ts,tsx,md,mdx --max-warnings 0, jest --bail --findRelatedTests

Update README.md
  README.md
Due: prettier --check --ignore-unknown --write, eslint --ext js,jsx,ts,tsx,md,mdx --max-warnings 0, jest --bail --findRelatedTests

Update settings
  .travis.yml
  README.md
Due: prettier --check --ignore-unknown --write, eslint --ext js,jsx,ts,tsx,md,mdx --max-warnings 0, jest --bail --findRelatedTests

Update .travis.yml
  .travis.yml
Due: prettier --check --ignore-unknown --write

Create dependabot.yml
  .github/dependabot.yml
Due: prettier --check --ignore-unknown --write

Setup nvm
  .nvmrc
  package.json
Due: prettier --check --ignore-unknown --write

Update .gitignore
  .gitignore
Due: prettier --check --ignore-unknown --write

Update LICENSE year
  LICENSE
Due: prettier --check --ignore-unknown --write

Delete CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --check --ignore-unknown --write, eslint --ext js,jsx,ts,tsx,md,mdx --max-warnings 0, jest --bail --findRelatedTests

Update lintstaged
  .lintstagedrc
  .lintstagedrc.mjs
  package.json
Due: prettier --check --ignore-unknown --write

Replace travis by GHA
  .github/workspace/checks.yml
  .github/workspace/ci.yml
  .github/workspace/unit-tests.yml
  .travis.yml
Due: prettier --check --ignore-unknown --write

Create index.test.ts
  src/index.test.ts
Due: prettier --check --ignore-unknown --write, tsc --noEmit --skipLibCheck, eslint --ext js,jsx,ts,tsx,md,mdx --max-warnings 0, jest --bail --findRelatedTests

Update vscode recommended extensions
  .vscode/extensions.json
Due: prettier --check --ignore-unknown --write

Delete CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: prettier --check --ignore-unknown --write, eslint --ext js,jsx,ts,tsx,md,mdx --max-warnings 0, jest --bail --findRelatedTests

Update dependencies
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --check --ignore-unknown --write, eslint --ext js,jsx,ts,tsx,md,mdx --max-warnings 0, jest --bail --findRelatedTests

Update husky
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: prettier --check --ignore-unknown --write

Path conditions:
  prettier --check --ignore-unknown --write: any of: *
  tsc --noEmit --skipLibCheck: any of: *.{ts,tsx}
  eslint --ext js,jsx,ts,tsx,md,mdx --max-warnings 0: any of: *.{js,jsx,ts,tsx,md,mdx}
  jest --bail --findRelatedTests: any of: *.{js,jsx,ts,tsx,md,mdx}
